/* You can add global styles to this file, and also import other style files */

h2 {
  font-family: "Arial Black";
}

.styleForm{
  font-family: "Berlin Sans FB";
}

#nome, #cpf{
  color: blue;
}

button{
  padding: 10px;
  margin: 10px;
}
